{% extends 'base.html' %} 

{% block content %}

<h1>Add songs to playlist {{playlist.name}}</h1>

<form method="GET">
  {% include "_form.html" %}
  <button class="btn btn-primary" type="submit">Add</button>
</form>


<!-- <form method="GET" action="/playlists/{{ playlist.id }}/search">

  <div class="form-group row mt-3">
    <label for="track-search" class="col-sm-2">Search New Songs</label>
    <div class="col-sm-10">
      <input class="form-control" id='track-search' type="text" name="track" placeholder="Add songs to your playlist">
    </div>
 
  </div>


  <button class="btn btn-primary" track-search">Search Songs</button>
</form> -->

{% for result in resultsSong %}
<div>
  <input type="checkbox" id="{{ result['id'] }}" name="track" value="{{ result['id'] }} ">
  <label for="{{ result['id'] }}"><a href="{{result['url']}}" target="_blank">{{ result['name']}}</a></label>
  <img src="{{ result['album_image'] }}" width=200 />
</div>
{%endfor %}

{% endblock %}