{% extends 'base.html' %} 

{% block content %}

<h1>Add songs to playlist <a href="/playlists/{{playlist.id}}">{{playlist.name}}</a></h1>

<form method="POST">
  {% include "partials/_form.html" %}
  <button class="btn btn-primary" type="submit">Search</button>
  <input type="hidden" name="form" value="search_songs">
</form>


{% if resultsSong %}
<form class="container" method="POST">
  <input type="submit" value="Add checked songs" class="add-songs">
  <div class="container song-results">
  {% for result in resultsSong %}
  <div class="song-result">
    <input type="checkbox" id="{{ result['spotify_id'] }}" name="track" value="{{ serialize(result) }} ">
    <label for="{{ result['spotify_id'] }}">
      <a href="{{result['url']}}" target="_blank"> {{ result['title']}} by  {{ result['artists'] }}</a></label>
    <img src="{{ result['album_image'] }}" width=200 />
  </div>
  {%endfor %}
</div>
<input type="hidden" name="form" value="pick_songs">
</form>

<!-- <form method="POST"></form> -->

{%endif %}

{% endblock %}