{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1>{{ playlist.name }}!</h1>
  {% if playlist.description %}
  <p class="lead">{{ playlist.description }}</p>
  {% endif %}
</div>


<!-- <div class="text-danger">
  SHOW ALL OF THE SONGS IN THIS PLAYLIST HERE
</div> -->


{% if playlist.songs %}
<p>
  <b>Songs:</b>
</p>
<div class="song-results">
  {% for song in playlist.songs %}
  <div class="song-result">
  <a href="/songs/{{ song.id }}">
    <span class=""><strong>{{ song.title }}</strong><br>
    </span> by {{ song.artists }}
    <small>{{song.artist}}</small><br>
    <span>{{song.album_name}}</span><br>
    <img class="album-image" src="{{song.album_image}}" />
  </a> 
</div>
  {% endfor %}
</div>
{% else %}
<p>There are no songs yet on this playlist, add some!</p>
{% endif %}

<p>
  <a class="btn btn-primary" href="/playlists/{{ playlist.id }}/search">
    Add Song To Playlist
  </a>
</p>

{% endblock %}