{% extends 'base.html' %}

{% block content %}


  <h4>Playlist: <b>{{ playlist.name }}</b></h4>


<!-- <div class="text-danger">
  SHOW ALL OF THE SONGS IN THIS PLAYLIST HERE
</div> -->


{% if playlist.songs %}
<div class="song-results">
  {% for song in playlist.songs %}
  <div class="song-result">
    <a href="/songs/{{ song.id }}">
      <span class=""><strong>{{ song.title }}</strong><br>
      </span> by {{ song.artists }}
      <small>{{song.artist}}</small><br>
      <span>{{song.album_name}}</span><br>
      <img class="album-image" src="{{song.album_image}}" />
    </a> 
    <form class="remove-button" method="POST">
    <input type="hidden" name="remove" value="true" />
    <input type="hidden" name="song" value="{{song.id}}" />
    <input type="submit" name='submit' value="Remove from Playlist" />
    </form>
</div>
  {% endfor %}
</div>
{% else %}
<p>There are no songs yet on this playlist, add some!</p>
{% endif %}

<p>
  <a class="btn btn-primary" href="/playlists/{{ playlist.id }}/search">
    Add Songs to this playlist
  </a>
</p>

{% endblock %}