<!-- {% extends 'base.html' %}

{% block content %}

<h1>See all the playlists!</h1>

<ul>
{% for playlist in playlists %}
  <li>
     <a href="/playlists/{{ playlist.id }}">{{ playlist.name }}</a>
     <form>
      {{form.hidden_tag()}}
      <button class="btn btn-primary"
              formmethod="GET"
              formaction="/playlists/{{ playlist.id }}/update">
        Edit
      </button>
      <button class="btn btn-danger"
              formmethod="POST"
              formaction="/playlists/{{ playlist.id }}/delete">
        Delete
      </button>
    </form>
  </li>
{% endfor %}
</ul>

<p><a class="btn btn-primary" href="/playlists/add">Add a playlist</a></p>

{% endblock %} -->