{% extends 'base.html' %} 

{% block content %}

<h1 class="display-5">profile page for user {{user.username }}</h1>

<h3>See all the playlists!</h3>

<ul>
  {% if 'user_id' in session %}
{% for playlist in playlists %}
  <li>
     <a href="/playlists/{{ playlist.id }}">{{ playlist.name }}</a>
     <form>
      {{form.hidden_tag()}}
      <button class="btn btn-primary"
      formmethod="GET"
      formaction="/playlists/{{ playlist.id }}/search">
Search new songs for this playlist
</button>

      <button class="btn btn-primary"
              formmethod="GET"
              formaction="/playlists/{{ playlist.id }}/update">
        Edit Playlist Name
      </button>
      <button class="btn btn-danger"
              formmethod="POST"
              formaction="/playlists/{{ playlist.id }}/delete">
        Delete
      </button>
    </form>
  </li>
{% endfor %}
{% endif %}
</ul>

<!-- <p><a class="btn btn-primary" href="/playlists/add">Add a playlist</a></p> -->


<h3>Add a new playlist</h3>
<form method="POST">
  {% include "partials/_form.html" %}
  <button class="btn btn-primary" type="submit">Add</button>
</form>

{% endblock %}
